policy_module(kori, 1.100.1)

########################################
#
# Declarations
#

type kori_t;
type kori_exec_t;
init_daemon_domain(kori_t, kori_exec_t)

permissive kori_t;

type kori_initrc_exec_t;
init_script_file(kori_initrc_exec_t)

type kori_conf_t;
files_type(kori_conf_t)

type kori_var_lib_t;
files_type(kori_var_lib_t)

type kori_var_run_t;
files_type(kori_var_run_t)

type kori_port_t;
corenet_port(kori_port_t)

########################################
#
# kori local policy
#
allow kori_t self:process { fork };

allow kori_t self:fifo_file rw_fifo_file_perms;
allow kori_t self:unix_stream_socket create_stream_socket_perms;

manage_dirs_pattern(kori_t, kori_conf_t, kori_conf_t)
manage_files_pattern(kori_t, kori_conf_t, kori_conf_t)

manage_dirs_pattern(kori_t, kori_var_lib_t, kori_var_lib_t)
manage_files_pattern(kori_t, kori_var_lib_t, kori_var_lib_t)
files_var_lib_filetrans(kori_t, kori_var_lib_t, { dir file })

manage_dirs_pattern(kori_t, kori_var_run_t, kori_var_run_t)
manage_files_pattern(kori_t, kori_var_run_t, kori_var_run_t)

sysnet_dns_name_resolve(kori_t)
corenet_all_recvfrom_unlabeled(kori_t)

allow kori_t self:tcp_socket create_stream_socket_perms;
corenet_tcp_sendrecv_generic_if(kori_t)
corenet_tcp_sendrecv_generic_node(kori_t)
corenet_tcp_sendrecv_all_ports(kori_t)
corenet_tcp_bind_generic_node(kori_t)

gen_require(`
    type kori_port_t;
')
allow kori_t kori_port_t:tcp_socket name_bind;

gen_require(`
    type kori_port_t;
')
allow kori_t kori_port_t:tcp_socket name_connect;

domain_use_interactive_fds(kori_t)

files_read_etc_files(kori_t)

miscfiles_read_localization(kori_t)

sysnet_dns_name_resolve(kori_t)

allow kori_t kori_exec_t:file execute_no_trans;
allow kori_t self:process setsched;
corecmd_exec_ls(kori_t)
corenet_tcp_connect_http_port(kori_t)
dev_read_urand(kori_t)
fs_getattr_xattr_fs(kori_t)
kernel_read_system_state(kori_t)
