
## <summary>policy for kori</summary>


########################################
## <summary>
##	Transition to kori.
## </summary>
## <param name="domain">
## <summary>
##	Domain allowed to transition.
## </summary>
## </param>
#
interface(`kori_domtrans',`
	gen_require(`
		type kori_t, kori_exec_t;
	')

	corecmd_search_bin($1)
	domtrans_pattern($1, kori_exec_t, kori_t)
')


########################################
## <summary>
##	Execute kori server in the kori domain.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`kori_initrc_domtrans',`
	gen_require(`
		type kori_initrc_exec_t;
	')

	init_labeled_script_domtrans($1, kori_initrc_exec_t)
')


########################################
## <summary>
##	Search kori lib directories.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`kori_search_lib',`
	gen_require(`
		type kori_var_lib_t;
	')

	allow $1 kori_var_lib_t:dir search_dir_perms;
	files_search_var_lib($1)
')

########################################
## <summary>
##	Read kori lib files.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`kori_read_lib_files',`
	gen_require(`
		type kori_var_lib_t;
	')

	files_search_var_lib($1)
	read_files_pattern($1, kori_var_lib_t, kori_var_lib_t)
')

########################################
## <summary>
##	Manage kori lib files.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`kori_manage_lib_files',`
	gen_require(`
		type kori_var_lib_t;
	')

	files_search_var_lib($1)
	manage_files_pattern($1, kori_var_lib_t, kori_var_lib_t)
')

########################################
## <summary>
##	Manage kori lib directories.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`kori_manage_lib_dirs',`
	gen_require(`
		type kori_var_lib_t;
	')

	files_search_var_lib($1)
	manage_dirs_pattern($1, kori_var_lib_t, kori_var_lib_t)
')


########################################
## <summary>
##	All of the rules required to administrate
##	a kori environment
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
## <param name="role">
##	<summary>
##	Role allowed access.
##	</summary>
## </param>
## <rolecap/>
#
interface(`kori_admin',`
	gen_require(`
		type kori_t;
		type kori_initrc_exec_t;
		type kori_var_lib_t;
	')

	allow $1 kori_t:process { ptrace signal_perms };
	ps_process_pattern($1, kori_t)

	kori_initrc_domtrans($1)
	domain_system_change_exemption($1)
	role_transition $2 kori_initrc_exec_t system_r;
	allow $2 system_r;

	files_search_var_lib($1)
	admin_pattern($1, kori_var_lib_t)

')

